.MoviesList{
    .page-header {
        margin-top: 15px;
        margin-bottom: 5px;
        font-family: 'Sansita Swashed', cursive;
    }
    .spinner {
        width: 6rem;
        height: 6rem;
        margin-top: 20px;
    }
}