.MovieDetail {
    width: 90%;
    margin: 10px auto;
    .card-horizontal {
        display: flex;
        flex: 1 1 auto;
    }
    .link-left {
        text-align: left;
        width: 90%;
        margin-bottom: 4px;
        padding-left: 3px;
    }
}