.MovieListCard {
    width: 90%;
    margin: 10px auto;
    a {
        &:link, &:visited {
            color:black;
            text-decoration:none;
        }
    }
    .card-horizontal {
        display: flex;
        flex: 1 1 auto;
    }
    img {
        max-width: 185px;
    }
}
